footer{
    background-color: #fff;
}
footer section article{
    text-align: center;
    padding: 0 35px;
}
footer section article i{
    margin: 50px auto 10px;
    font-size: 2em;
    color: var(--celeste);
}
footer section article .description{
    font-size: 12px;
}
footer .copyright{
    font-size: 12px;
    margin: 40px 10px;
}

@media (min-width: 361px) {
    
}

@media (min-width: 769px) {
    
}