header{
    background-color: var(--amarillo);
    width: 100%;
    display: flex;
    flex-flow: column wrap;
}
header img{
    width: 39%;
    margin-top: 30px;
    margin-left: 30px;
}
header .search-bar{
    padding: 2px;
    margin-left: 20px;
}
header .search-bar input{
    width: 60%;
    margin: 10px auto 2px;
}
header .search-bar div{
    display: inline;
}
header .search-bar div a{
    background-color: var(--grisClaro);
    color: var(--azul);
    border: solid 1px var(--grisOscuro);
    border-radius: 3px;
}
header .search-bar div a i{
    padding: 1px;
    font-size: 13px;
}
header p{
    font-size: 12px;
    text-align: center;
    margin: 15px auto;
}
header .navbar{
    display: none;
    margin: 20px 10px;
    font-size: 12px;
}
header .login-bar{
    display: none;
    margin: 0 10px 30px;
    font-size: 12px;
}
header .burger-menu{
    text-align: center;
    margin: 20px auto;
}
header .burger-menu i {
    background-color: var(--celeste);
    color: rgb(255, 255, 255);
    font-size: 20px;
    border-radius: 14%;
    padding: 10px;
}

@media (min-width: 361px) {
    header .navbar{
        display: block;
        margin: 20px 10px;
        font-size: 12px;
    }
    header .login-bar{
        display: block;
        margin: 0 10px 30px;
        font-size: 12px;
    }
    header .burger-menu{
        display: none;
    }
}

@media (min-width: 769px) {
    
}