@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('/css/header.css');
@import url('/css/footer.css');

:root{
    --amarillo: #EAC926;
    --azul: #03264C;
    --celeste: #1259c3;
    --grisOscuro: #666;
    --grisClaro: #ebebeb;
    --verde: #39b54a;
}

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
li a{
    text-decoration: none;
    font-size: 12px;
    color: rgb(0, 0, 0);
}
body{
    background-color: var(--grisClaro);
}

/* main */
main{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}
main img.banner{
    width: 100vw;
}
main section{
    padding: 5%;
    justify-content: center;
}
main section h2{
    margin: 30px auto;
    font-size: 24px;
    color: var(--grisOscuro);
}
main section article{
    margin: 10px auto;
}


main section article .product{
    width: 90vw;
}
main section article .details{
    border: 1px solid var(--grisClaro);
    background-color: #FFF;
    padding: 15px;
    width: 90vw;
}
main section article .details .truck{
    display: inline-block;
    padding: 11px;
    border: 1px solid var(--verde);
    border-radius: 50%;
}
main section article .details i{
    color: var(--verde);
}
main section article .price{
    font-size: 18px;
}
main section article .off{
    color: var(--verde);
    font-size: 16px;
}
main section article h4{
    display: none;
}

@media (min-width: 361px) {
    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    main section article h4{
        display: block;
        font-size: 16px;
        color: var(--grisOscuro);
        margin: 15px auto;
    }
}

@media (min-width: 769px) {
    
}